@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: white;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #3b2d59, #15101f, #000); 
}

.frosted-glass {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.intro-container {
    transition: transform 5s ease-in-out; 
}

